
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header ">
            <a class="navbar-brand lognavbar" href="#">Ng-Table</a>
        </div>
        <ul class="nav navbar-nav navbar-right ">
            <li><a class="lognavbar" ui-sref="login" ng-if="login" >Login</a></li>
            <li><a class="lognavbar" ui-sref="home" ng-if="!login" style="margin-top: 7px;" >Home</a></li>
            <li><a class="lognavbar" ui-sref="login" ng-if="!login"><span class="glyphicon glyphicon-user"></span> LogOut</a></li>



        </ul>
        <ul class="nav navbar-nav navbar-right">

        </ul>

    </div>
</nav>